:root {
    --darkOrange: #bf6200;
    --orange: #ffc180;
    --textLight: #333;
    --textDark: #555;
}
p {
    text-align: justify;
    font-size: 1.1em;
}
h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}
h2 {
    font-size: 1.2em;
    font-weight: bolder;
    margin: 0px;
}
.simple li{
    margin-left: 40px;
    list-style-type: disc;
}
.title_li {
    font-weight: bold;
    background-color: #ffc180;
    color: #555;
    font-weight: bold;
    text-indent: 16px;
}
.collapse_icon {
    color:#555;
    font-size: 2.1em !important;
    float: left;
    margin-right: 10px;
}
body, a, a:visited, nav ul a {
    color: #555;
}
nav ul a {
    font-weight: bold;
}
p a {
    text-decoration: underline;
}
.error-block {
    font-size: 12px;
    color: red;
    margin-top: 0px;
    display: block;
}
.logo img, .logo a {
    width: 100%;
    max-width: 440px;
}
.head {
    margin-top: 40px;
}
.phones {
    float: right;
    text-align: right;
}
.phones div {
    color: #333;
}
.shadow {
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.50),0 2px 10px 0 rgba(0,0,0,0.30);
}
span.bold-phones {
    display: inline-block;
    width: auto;
    font-weight: bold;
    font-size: 20px;
    color: #bf6200;
    margin-left: 10px;
}
.phones img, .phones i {
    float: right;
    margin-left: 10px;
    margin-top: 5px;
}
.nav-wrapper {
    background-color: #ffc180;
}
.bread {
    margin-top: 10px;
}
.bread_item {
    display: block;
    padding: 5px 0px;
    color: #bf6200 !important;
    text-decoration: underline;
    font-weight: bolder;
    float: left;
}
.bread i {
    margin-right: 10px;
}
.active_bread {
    font-weight: bold;
    text-decoration: underline;
}
.content {
    margin: 30px;
}
.catalog-box {
    margin-top: 40px;
}
.catalog-box b {
    font-size: 15px;
    text-decoration: underline;
}
.catalog-box li {
    padding: 2px;
}
#gallery {
    margin-bottom: 20px;
}
.property-img {
    float: left;
    margin-right: 10px;
    cursor: pointer;
}
footer b {
    display: block;
}

footer.fixed-footer {
    position: fixed;
    bottom: 0;
}
footer.page-footer {
    width: 100%;
    background-color: #ffc180;
}
footer.page-footer strong{
    display: block;
}
footer .black-strip {
    background-color: black;
    height: 20px;
}
.footer-links {
    float: left;
    margin-right: 20px;
    margin-top: 10px;
}
.footer-links a {
    color: inherit;
    text-decoration: underline;
    display: block;
    cursor: pointer;
}


.steps {
    display: none;
}
